@font-face{
      font-family: 'WSLR';
          src: url('../font/websymbolsligaregular.eot');
          src: url('../font/websymbolsligaregular.eot?#iefix') format('embedded-opentype'),
               url('../font/websymbolsligaregular.woff') format('woff'),
               url('../font/websymbolsligaregular.ttf') format('truetype')
}

body {
  font-family: 'Roboto', Arial, sans-serif;
  color: #000;
  min-width: 1200px;
}

/* удобства */
div[class*="grid"],
article[class*="grid"],
section[class*="grid"] {
  float: left;
  padding: 0 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.grid-1 {width: 8.33%;}
.grid-2 {width: 16.66%;}
.grid-3 {width: 25%;}
.grid-4 {width: 33.33%;}
.grid-5 {width: 41.66%;}
.grid-6 {width: 50%;}
.grid-7 {width: 58.33%;}
.grid-8 {width: 66.66%;}
.grid-9 {width: 75%;}
.grid-10 {width: 83.11%;}
.grid-11 {width: 91.66%;}
.grid-12 {width: 100%;}
.row {
  overflow: hidden;
  margin-left: -30px;
  margin-right: -30px;
}

.row:after,
.clearfix:after,
.container:after {
  content: "";
  display: block;
  clear: both;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.container {
  width: 1140px;
  margin: 0 auto;
  padding: 0 30px;
}

/* header, footer */
.header,
.footer {
  padding: 18px 0 15px;
  background-color: #2c2c2c;
  color: #ffffff;
  font-size: 0;
}

.logo {
  font-size: 22px;
  line-height: 34px;
  font-weight: 400;
}

.logo__title {
  margin: 0;
  vertical-align: 100%;
}

/* menu */
.menu {
  font-size: 18px;
}

.menu__item {
  display: inline-block;
  margin-left: 10px;
  padding: 5px 10px;
  color: #ffffff;
  text-decoration: none;
  border: 1px solid transparent;
}

.menu__item:hover,
.menu__item--active {
  border: 1px solid  #fff;
}

/* promo */
.promo {
  padding: 170px 0 97px;
  background: center bottom no-repeat url(../img/promo-bg.jpg) #b2cce7;
  -webkit-background-size: cover;
  background-size: cover;
  text-align: center;
  color: #ffffff;
}

.promo__title {
  font-size: 66px;
  font-weight: 500;
  margin: 0;
  padding: 0 220px;
}

.button {
  display: inline-block;
  background: none;
  text-decoration: none;
  outline: none;
  border: 1px solid #ffffff;
}

.button--more {
  margin-top: 177px;
  padding: 8px 15px;
  font-size: 18px;
  color: #ffffff;
  position: relative;
}

.button--more:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -65px;
  left: 50%;
  width: 160px;
  height: 110px;
  background-position: 65px 70px;
  transform: translate(-50%);
}

.button--more:hover:after {
  -webkit-animation: move 1.5s ease-in infinite;
  -o-animation: move 1.5s ease-in infinite;
  animation: move 1.5s ease-in infinite;
}

@keyframes move{
  0% {
    bottom: -65px;
  }
  60% {
    bottom: -75px;
  }
  75% {
    bottom: -80px;
  }
  90% {
    bottom: -75px;
  }
  100% {
    bottom: -65px;
  }
}

/* features */
.features {
  padding: 77px 0 20px;
  background-color: #ffffff;
}

.features__item {
  padding-left: 90px;
  position: relative;
  font-size: 18px;
  font-weight: 500;
  color: #444;
}

.features__item--ballon:after {
  content: "";
  position: absolute;
  left: 12px;
  top: -10px;
  width: 56px;
  height: 58px;
  background-position: -5px -385px;
}

.features__item--pilot:after {
  content: "";
  position: absolute;
  left: -9px;
  top: 9px;
  width: 75px;
  height: 28px;
  background-position: -5px -298px;
}

.features__item--camera:after {
  content: "";
  position: absolute;
  left: 0;
  top: -4px;
  width: 65px;
  height: 50px;
  background-position: -5px -205px;
}

.features__item--view:after {
  content: "";
  position: absolute;
  left: -8px;
  top: 4px;
  width: 72px;
  height: 34px;
  background-position: -5px -161px;
}


/* about */
.about {
  position: relative;
  padding: 53px 0 100px;
}

.about:after,
.order:after {
  content: "";
  display: block;
  position: absolute;
  border-bottom: 1px solid #cccccc;
  width: 1140px;
  margin: 0 auto;
  left: 50%;
  bottom: 0;
  transform: translate(-50%);
}

/* title */
.title {
  margin: 0 0 62px;
  position: relative;
  font-size: 32px;
  font-weight: 500;
  color: #444444;
}

.title:after {
  position: absolute;
  content: "";
  display: block;
  bottom: -18px;
  border: 3px solid  #3e98d7;
  width: 60px;
}

/* text */
.text {
  font-size: 18px;
  line-height: 24px;
  color: #444444;
  padding-bottom: 6px;
}

/* video */
.video {
  margin: 0 auto;
  padding-top: 7px;
  height: 345px;
  text-align: center;
}

.video iframe {
  width: 100%;
  height: 100%;
  border: 0;
  box-shadow: 0 20px 0 -10px rgba(230,230,230,1);
}

/* gallery */
.gallery {
  padding: 96px 0 63px;
}

.gallery .title {
  text-align: center;
}

.gallery .title:after {
  margin: 0 auto;
  left: 0;
  right: 0;
}

.slider {
  position: relative;
  width: 1040px;
  min-height: 292px;
  margin: 0 auto;
  text-align: center;
}

.slider .btn {
  position: absolute;
  top: 50%;
  font-size: 0;
  background: none;
  border: none;
  width: 19px;
  height: 32px;
  background-position: -5px -44px;
  opacity: 0.6;
  outline: none;
  cursor: pointer;
}

.slider .btn:hover {
  opacity: 0.8;
}

.slider .btn:active {
  opacity: 1;
}

.slider .prev {
  left: -50px;
  transform: translateY(-50%) rotate(180deg);
}

.slider .next {
  right: -50px;
  transform: translateY(-50%);
}

.slider__image {
  margin: 0 7px;
  position: relative;
  opacity: 0.8;
}

.slider__image:hover {
  opacity: 1;
}

.slider__image img {
  height: 244px;
  width: 244px;
}


/* plan */
.plan {
  text-align: center;
  height: 662px;
  background: center bottom no-repeat url(../img/plan-bg.jpg);
  -webkit-background-size: cover;
  background-size: cover;
}

.plan .title:after {
  margin: 0 auto;
  left: 0;
  right: 0;
}

.plan__process {
  position: relative;
  height: 338px;
}

.plan__process:after {
  content: "";
  display: block;
  position: absolute;
  margin: 0 auto;
  width: 1140px;
  height: 176px;
  left: 0;
  top: 158px;
  background: center center no-repeat url(../img/path.png);
}

.ballon {
  position: absolute;
  width: 100px;
}

.ballon__title {
  font-size: 18px;
  font-weight: 500;
  color: #454545;
}

.ballon__image {
  margin: 10px auto 0;
  padding-top: 10px;
  font-size: 20px;
  color: #ffffff;
  width: 44px;
  height: 65px;
  background-position: -5px -86px;
}

.ballon--1 {
  left: -15px;
  top: 198px;
}

.ballon--2 {
  left: 263px;
  top: 130px;
}

.ballon--3 {
  left: 50%;
  top: 20px;
  transform: translate(-50%);
}

.ballon--4 {
  right: 254px;
  top: 142px;
}

.ballon--5 {
  right: -12px;
  top: 198px;
}

/* timer */
.timer {
  color: #26668e;
  text-align: right;
  padding: 31px 0;
  background-color: #f2f2f2;
}

.timer__title {
  margin: 0;
  position: relative;
  font-size: 32px;
  font-weight: 500;
  text-align: left;
}

.timer__number {
  margin: 0;
  display: inline-block;
  font-size: 32px;
  font-weight: 500;
  margin-left: 30px;
}

.timer__number--text {
  font-size: 22px;
}

/* order */
.order {
  padding: 85px 0 52px;
  position: relative;
}

.order__description {
  padding-right: 90px;
}

.order__block {
  padding-top: 7px;
}

.order__info {
  display: block;
  margin-bottom: 20px;
  font-size: 18px;
  color: #444444;
  line-height: 40px;
}

.order__input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 1px 5px;
  float: right;
  width: 340px;
  height: 38px;
  border: 1px solid #d5d5d5;
  border-radius: 5px;
  padding: 0 5px;
  outline: none;
}

.order__input--route:focus,
.order__input--number:focus {
  height: 38px;
  padding: 0px 4px;
  border: 2px solid #aed6ff;
}

.order__input--name,
.order__input--phone {
  padding: 1px 4px 1px 40px;
  position: relative;
}

.order__input--name:focus,
.order__input--phone:focus {
  height: 38px;
  padding: 0px 3px 0px 39px;
  border: 2px solid #aed6ff;
}

.order__input--name {
  background: 10px center no-repeat url(../img/name.png);
}

.order__input--phone {
  background: 10px center no-repeat url(../img/phone.png);
}

.order__input--name:focus {
  background: 9px center no-repeat url(../img/name.png);
}

.order__input--phone:focus {
  background: 9px center no-repeat url(../img/phone.png);
}

.order__price {
  display: inline-block;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 600;
  color: #444444;
  line-height: 38px;
}

.order__price--red {
  font-size: 38px;
  color: #f97e7e;
  vertical-align: middle;
  padding-left: 10px;
}

.order__button {
  margin-top: 20px;
  height: 40px;
  width: 165px;
  font-size: 18px;
  background-color: #46b0dc;
  color: #ffffff;
  border: 0 solid transparent;
  border-radius: 5px;
  outline: none;
  box-shadow: 0 1px 1px 0 #3694bb;
  cursor: pointer;
}

.order__button:active {
  color: #f5f5f5;
  box-shadow: inset 0 2px 2px 0 #3694bb;
}

/* info */
.info {
  padding: 71px 0 75px;
}

.pay .title {
  margin-bottom: 51px;
}

.title-3 {
  margin-top: 42px;
  font-size: 26px;
  font-weight: 500;
  color: #444444;
}

.question {
  padding-left: 46px;
  font-size: 18px;
  font-weight: 500;
  color: #444444;
  position: relative;
}

.question:before {
  content: "";
  position: absolute;
  width: 40px;
  height: 34px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-position: -5px -677px;
}

.answers {
  padding-left: 28px;
  margin-bottom: 33px;
  font-size: 16px;
  line-height: 22px;
  color: #444444;
}

/* achievements */
.achievements {
  height: 292px;
  padding: 72px 0 10px;
  background: center bottom no-repeat url(../img/achievements-bg.jpg) #78888e;
  -webkit-background-size: cover;
  background-size: cover;
  text-align: center;
}

.achievement__item {
  margin: 0;
  padding: 0;
  font-size: 24px;
  color: #ffffff;
}

.achievement__item .number{
  display: block;
  margin: 0 auto 18px;
  width: 150px;
  height: 150px;
  text-align: center;
  font-size: 42px;
  font-weight: 500;
  color: #ffffff;
  line-height: 150px;
  border: 6px solid #ffffff;
  border-radius: 50%;
}

/* team */
.team {
  padding: 91px 0 104px;
  text-align: center;
}

.team .title:after {
  margin: 0 auto;
  left: 0;
  right: 0;
}

.team .title {
  margin-bottom: 88px;
}

.team__item {
  margin: 0 auto;
}

.team__image {
  margin: 0 auto 31px;
  position: relative;
  height: 160px;
  width: 160px;
  overflow: hidden;
  border-radius: 50%;
  border: none;
  background-color: #474747;
  cursor: pointer;
}

.team__name {
  margin-bottom: 7px;
  font-size: 22px;
  font-weight: 500;
  color: #444444;
}

.team__profession {
  margin: 0;
  font-size: 18px;
  color: #444444;
}

/* team - эффекты при наведении */
.team__image--pilot:before,
.team__image--radio:before,
.team__image--tech:before {
  position: absolute;
  content: "";
  display: block;
  left: 0;
  top: 0;
}

.team__image--pilot:hover:before,
.team__image--radio:hover:before,
.team__image--tech:hover:before {
  content: "";
  height: 160px;
  width: 160px;
  background: #474747;
  border-radius: 50%;
}

.team__image--pilot:after,
.team__image--radio:after,
.team__image--tech:after {
  position: absolute;
  content: "";
  display: block;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.team__image--pilot:hover:after {
  width: 104px;
  height: 39px;
  background-position: -5px -336px;
}

.team__image--radio:hover:after {
  width: 38px;
  height: 89px;
  background-position: -5px -721px;
}

.team__image--tech:hover:after {
  width: 71px;
  height: 71px;
  background-position: -5px -820px;
}

/* feedback */
.feedback {
  margin-bottom: 71px;
  text-align: center;
}

.feedback .title {
  margin-bottom: 79px;
}

.feedback .title:after {
  margin: 0 auto;
  left: 0;
  right: 0;
}

.feedback__item {
  margin: 0 auto;
}

.feedback__image {
  margin: 0 auto 24px;
  height: 98px;
  width: 98px;
  overflow: hidden;
  border-radius: 50%;
  background-color: #474747;
}

.feedback__name {
  margin-bottom: 17px;
  font-size: 22px;
  font-weight: 500;
  color: #444444;
}

.feedback__message {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  color: #353535;
}

/* contacts */
.contacts {
  height: 310px;
  padding: 138px 0 0;
  background: center top no-repeat url(../img/contacts-bg.jpg) #c3def3;
  -webkit-background-size: cover;
  background-size: cover;
}

.contacts .title-3 {
  margin: 0 0 8px;
  text-align: center;
}

.plane {
  position: relative;
}

.plane:before {
  content: "";
  position: absolute;
  width: 62px;
  height: 62px;
  left: 50%;
  top: 55px;
  transform: translate(-50%);
  border-radius: 5px;
  background-position: 5px -557px;
  background-color: #337ba0;
}

.contacts__text {
  margin: 0 0 58px;
  font-size: 18px;
  font-weight: 500;
  color: #616161;
  text-align: center;
}

.contacts__phone {
  margin: 0;
  font-size: 26px;
  font-weight: 500;
  color: #292929;
}

.contacts__info {
  margin: 0;
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
  color: #525252;
}

.title-4 {
  margin: 0;
  font-size: 22px;
  font-weight: 500;
  color: #2b2b2b;
}

.marker {
  position: relative;
}

.marker:before {
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  width: 35px;
  height: 50px;
  background-position: -5px -617px;
}

.contacts .title-4,
.contacts__phone,
.contacts__info {
  padding-left: 55px;
  margin-bottom: 9px;
}

.mail {
  display: block;
  position: relative;
  margin-bottom: 25px;
  padding-left: 36px;
  font-size: 22px;
  font-weight: 500;
  color: #444444;
}

.mail:before {
  content: "";
  position: absolute;
  width: 23px;
  height: 17px;
  left: 0px;
  top: 8px;
  background-position: -5px -486px;
}

.icon {
  font-family: "WSLR";
  font-size: 22px;
  color: #444444;
  padding-right: 15px;
}

.icon:hover {
  color: #70757a;
}

/* кнопка вверх */
.button__top {
  width: 28px;
  height: 28px;
  background-position: -5px -901px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  outline: none;
  font-size: 0;
}

/* спрайт */
.sprite,
.button--more:after,
.features__item--ballon:after,
.features__item--pilot:after,
.features__item--camera:after,
.features__item--view:after,
.ballon__image,
.question:before,
.plane:before,
.marker:before,
.mail:before,
.slider .btn,
.name:after,
.phone:after,
.button__top,
.team__image--pilot:hover:after,
.team__image--radio:hover:after,
.team__image--tech:hover:after {
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
}